body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* Main content section */

.main-content-section {
  padding: 100px 90px;
}

/* About me section */

.about-me-section {
  margin-bottom: 40px;
}
.about-me-profession {
  font-size: 14px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My project section */

.my-project-section {
  margin-bottom: 40px;
}
.my-project-list {
  padding: 0 0 0 23px;
}
.my-project-item {
  color: #000000;
  font-weight: bold;
}
.my-project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-project-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.my-project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

/* My work expirience section */

.my-work-expirience-section {
  margin-bottom: 45px;
}
.my-work-expirience-company-block {
  margin: 0 0 15px 0;
}
.my-work-expirience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-work-expirience-company {
  color: #fb6d3a;
}
.my-work-expirience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-expirience-divider {
  color: #000000;
}
.my-work-expirience-duties {
  padding: 0 0 0 18px;
}
.my-work-expirience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My education section */

.my-education-header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-education-institut {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.my-education-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-education-divider {
  color: #000000;
}

/* Sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section {
  margin: 50px 0 0 40px;
}
.tech-skills-section {
  margin: 50px 0 0 40px;
}
.soft-skills-section {
  margin: 45px 0 0 40px;
}
.sidebar-title {
  ont-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Contacts section */

.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #79808a;
}

/* Tech Skills section */

.tech-skills-list {
  padding: 0 0 0 17px;
}
.tech-skills-item {
  color: #fb6d3a;
}
.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* Soft Skills section */

.soft-skills-list {
  padding: 0 0 0 17px;
}
.soft-skills-item {
  color: #fb6d3a;
}
.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
